%encoding: EUC-JP
%short-description: LaTeX-CJK - keine Uebersetzungen
%description
% Generiert eine Latex-Quelldatei, die das CJK Makro-Package benutzt.
% Fuer Lesungen werden Ruby generiert. Uebersetzungen werden nicht
% ausgegeben.
%end description
% Dies ist ein EUC-JP-kodiertes japanisches LaTeX-Dokument, generiert
% von JGloss aus %document-filename% am %generation-time%.
% Das CJK Makro-Package muss installiert sein, um diese Datei zu
% verarbeiten.
%
% template-author: Michael Koch <tensberg@gmx.net>
% Die Template-Datei kann ohne Einschraenkungen unmodifiziert
% oder modifiziert weitergegeben werden.
% $Id$

\documentclass[%font-size%pt]{article}

\usepackage{CJK}
\usepackage[overlap,CJK]{ruby}

\renewcommand{\thefootnote}{}

\begin{document}
\begin{CJK*}[dnp]{JIS}{min}
\CJKtilde

\pagestyle{myheadings}
\markright{%document-title%}

%document-text
%reading: \\ruby{%word%}{%reading%}
%paragraph-end: \n\n\\bigskip\n\n
%end document-text

\end{CJK*}

\end{document}
