%encoding: EUC-JP
%short-description: LaTeX-CJK - Uebers. am Ende - Hyperlinks
%description
% Generiert eine Latex/PDFLatex-Quelldatei, die das CJK- und
% Hyperref-Makro-Package benutzt. Uebersetzungen werden in einer Liste dem Text
% angefuegt. Hyperlinks zwischen Textabsaetzen und Vokabel-Absaetzen 
% werden eingefuegt, und fuer Absaetze werden Lesezeichen generiert.
%
% Fuehren sie Latex zweimal aus, damit die Lesezeichen korrekt generiert
% werden. 
%end description
% Dies ist ein EUC-JP-kodiertes japanisches LaTeX-Dokument, generiert
% von JGloss aus %document-filename% am %generation-time%.
% Das CJK Makro-Package muss installiert sein, um diese Datei zu
% verarbeiten.
%
% template-author: Heinrich Kuensting <heinrich.kuensting@gmx.net>
% Die Template-Datei kann ohne Einschraenkungen unmodifiziert
% oder modifiziert weitergegeben werden.
% $Id$

\newif\ifpdf
\ifx\pdfoutput\undefined
   \pdffalse
\else
   \pdfoutput=1
   \pdftrue
\fi

\documentclass[%font-size%pt]{article}

\ifpdf
   \usepackage[pdftex]{graphicx}
   \usepackage[pdfpagemode={UseOutlines},        %FullScreen, None
               %pdfauthor={Ihr Name hier},
               pdfsubject={Annotated Japanese Document},
               pdfkeywords={JGloss, PDF, PDFLatex, Japan, Japanese},
               pdfstartview={FitBH},
               pdfview={FitBH},
               plainpages={false},
               pdftex,
               colorlinks,
               bookmarks,
               bookmarksopen,
               bookmarksnumbered,
               urlcolor={blue}]{hyperref}
   \pdfcompresslevel=9
\else
   \usepackage{epsf}
   \usepackage[plainpages={false}]{hyperref}
\fi

\usepackage{CJK}
\usepackage[overlap,CJK]{ruby}

\renewcommand{\thefootnote}{}
\newcommand{\fn}[3]{\noindent \makebox[\ww][l]{#1} \makebox[\rw][l]{#2} \parbox[t]{\tw}{#3}}
\newcommand{\para}[1]{\noindent \textbf{Absatz #1}}

\begin{document}
\begin{CJK*}[dnp]{JIS}{min}
\CJKtilde

\renewcommand{\rubysize}{0.5}
\renewcommand{\rubysep}{-0.3ex}

\pagestyle{myheadings}
\markright{%document-title%}
    
%document-text
%paragraph-start: \\hypertarget{text_para %paragraph-number%}{}\n\\pdfbookmark[1]{Absatz %paragraph-number%}{text_para %paragraph-number%}\n\\noindent\\hyperlink{voc_para %paragraph-number%}{\\tiny$\\diamondsuit$}\n
%reading: \\ruby{%word%}{%reading%}
%paragraph-end: \n\n\\bigskip\n\n
%end document-text

\newpage
\small
\markright{%document-title% --- Vokabelliste}
\newlength{\ww}
\settowidth{\ww}{%longest-word%--}
\newlength{\rw}
\settowidth{\rw}{%longest-reading%--}

\newlength{\tw}
\setlength{\tw}{\textwidth}
\addtolength{\tw}{-1.0\ww}
\addtolength{\tw}{-1.0\rw}
\addtolength{\tw}{-5pt}

\hypertarget{Vokabeln}{}
\pdfbookmark[1]{Vokabeln}{Vokabeln}

%annotation-list
%paragraph-start: \\hypertarget{voc_para %paragraph-number%}{\\para{%paragraph-number%}}\n\\pdfbookmark[2]{Vokabeln %paragraph-number%}{voc_para %paragraph-number%}\n\\noindent\\hyperlink{text_para %paragraph-number%}{\\tiny$\\diamondsuit$}\n\n
%paragraph-end: \n\\bigskip\n\n
%translation: \\fn{%word%}{%reading%}{%translation%}\n
%end annotation-list

\end{CJK*}

\end{document}
