%encoding: EUC-JP
%short-description: platex - translations at end
%description
% Generate a platex input file with the list of translations
% placed after the main text. The translation list will be
% separated by paragraphs.
%end description
% This is a EUC-JP encoded Japanese LaTeX document generated
% by JGloss from %document-filename% on %generation-time%.
% Use platex to process this file.
% Note that the file ruby-annotation.sty which comes with JGloss
% must be installed.
%
% template-author: Michael Koch <tensberg@gmx.net>
% The template file may be freely redistributed unmodified
% or modified.
% $Id$

\documentclass[%font-size%pt]{jarticle}
\usepackage[overlap,CJK]{ruby-annotation}
\usepackage{pslatex}
\renewcommand{\thefootnote}{}

\begin{document}

\pagestyle{myheadings}
\markright{%document-title%}
    
%document-text
%reading: \\ruby{%word%}{%reading%}
%paragraph-end: \n\n\\bigskip\n\n
%end document-text

\newpage
\small
\markright{%document-title% --- Vocabulary List}
\newlength{\ww}
\settowidth{\ww}{%longest-word%--}
\newlength{\rw}
\settowidth{\rw}{%longest-reading%--}

\newlength{\tw}
\setlength{\tw}{\textwidth}
\addtolength{\tw}{-1.0\ww}
\addtolength{\tw}{-1.0\rw}
\addtolength{\tw}{-4pt}
\newcommand{\fn}[3]{\noindent \makebox[\ww][l]{#1} \makebox[\rw][l]{#2} \parbox[t]{\tw}{#3}}
\newcommand{\para}[1]{\noindent \textbf{Paragraph #1}}

%annotation-list
%paragraph-start: \\para{%paragraph-number%}\n\n
%paragraph-end: \n\n\\bigskip\n\n
%translation: \\fn{%word%}{%reading%}{%translation%}\n
%end annotation-list

\end{document}
