%encoding: EUC-JP
%short-description: pLaTeX - Uebers. am Ende
%description
% Generiert eine Platex-Quelldatei. Uebersetzungen werden
% in einer Liste dem Text angefuegt.
%end description
% Dies ist ein EUC-JP-kodiertes japanisches LaTeX-Dokument, generiert
% von JGloss aus %document-filename% am %generation-time%.
% Benutzen Sie platex, um die Datei zu verarbeiten.
% Beachten Sie, dass die Datei ruby-annotation.sty, die JGloss
% beiliegt, installiert sein muss.
%
% template-author: Michael Koch <tensberg@gmx.net>
% Die Template-Datei kann ohne Einschraenkungen unmodifiziert
% oder modifiziert weitergegeben werden.
% $Id$

\documentclass[%font-size%pt]{jarticle}
\usepackage[overlap,CJK]{ruby-annotation}
\usepackage{pslatex}
\renewcommand{\thefootnote}{}

\begin{document}

\pagestyle{myheadings}
\markright{%document-title%}
    
%document-text
%reading: \\ruby{%word%}{%reading%}
%paragraph-end: \n\n\\bigskip\n\n
%end document-text

\newpage
\small
\markright{%document-title% --- Vokabelliste}
\newlength{\ww}
\settowidth{\ww}{%longest-word%--}
\newlength{\rw}
\settowidth{\rw}{%longest-reading%--}

\newlength{\tw}
\setlength{\tw}{\textwidth}
\addtolength{\tw}{-1.0\ww}
\addtolength{\tw}{-1.0\rw}
\addtolength{\tw}{-5pt}
\newcommand{\fn}[3]{\noindent \makebox[\ww][l]{#1} \makebox[\rw][l]{#2} \parbox[t]{\tw}{#3}}
\newcommand{\para}[1]{\noindent \textbf{Absatz #1}}

%annotation-list
%paragraph-start: \\para{%paragraph-number%}\n\n
%paragraph-end: \n\n\\bigskip\n\n
%translation: \\fn{%word%}{%reading%}{%translation%}\n
%end annotation-list

\end{document}
