%encoding: EUC-JP
%short-description: platex - transl. on page/wide
%description
% Generate a platex input file with translations placed on
% the page where the word appears. The document has small
% margins.
%end description
% This is a EUC-JP encoded Japanese LaTeX document generated
% by JGloss from %document-filename% on %generation-time%.
% Use platex to process this file.
% Note that the file ruby-annotation.sty which comes with JGloss
% must be installed.
%
% template-author: Michael Koch <tensberg@gmx.net>
% The template file may be freely redistributed unmodified
% or modified.
% $Id$

\documentclass[%font-size%pt]{jarticle}
\usepackage[overlap,CJK]{ruby-annotation}
\usepackage{pslatex}
\renewcommand{\thefootnote}{}

\setlength{\voffset}{-1in}
\setlength{\hoffset}{-1in}
\setlength{\evensidemargin}{40pt}
\setlength{\oddsidemargin}{40pt}
\setlength{\textwidth}{\paperwidth}
\addtolength{\textwidth}{-2.1\evensidemargin}
\setlength{\textheight}{0.9\paperheight}

\newlength{\ww}
\settowidth{\ww}{%longest-word%--}
\newlength{\rw}
\settowidth{\rw}{%longest-reading%--}

\newlength{\tw}
\setlength{\tw}{\textwidth}
\addtolength{\tw}{-1.0\ww}
\addtolength{\tw}{-1.0\rw}
% I don't know where the -20pt come from, but they have to be there for
% the layout to work.
\addtolength{\tw}{-20pt}

\begin{document}

\pagestyle{myheadings}
\markright{%document-title%}
\newcommand{\fn}[3]{\footnotetext{\makebox[\ww][l]{#1} \makebox[\rw][l]{#2} \parbox[t]{\tw}{#3}}}

%document-text
%reading: \\ruby{%word%}{%reading%}
%translation: \\fn{%dictionary-word%}{%dictionary-reading%}{%translation%}
%paragraph-end: \n\n\\bigskip\n\n
%end document-text

\end{document}
