%encoding: EUC-JP
%short-description: pLaTeX - Uebers. auf der Seite
%description
% Generiert eine Platex-Quelldatei. 
% Uebersetzungen werden in eine Fussnote auf einer Seite mit dem Wort
% gesetzt.
%end description
% Dies ist ein EUC-JP-kodiertes japanisches LaTeX-Dokument, generiert
% von JGloss aus %document-filename% am %generation-time%.
% Benutzen Sie platex, um die Datei zu verarbeiten.
% Beachten Sie, dass die Datei ruby-annotation.sty, die JGloss
% beiliegt, installiert sein muss.
%
% template-author: Michael Koch <tensberg@gmx.net>
% Die Template-Datei kann ohne Einschraenkungen unmodifiziert
% oder modifiziert weitergegeben werden.
% $Id$

\documentclass[%font-size%pt]{jarticle}
\usepackage[overlap,CJK]{ruby-annotation}
\usepackage{pslatex}
\renewcommand{\thefootnote}{}

\newlength{\ww}
\settowidth{\ww}{%longest-word%--}
\newlength{\rw}
\settowidth{\rw}{%longest-reading%--}

\newlength{\tw}
\setlength{\tw}{\textwidth}
\addtolength{\tw}{-1.0\ww}
\addtolength{\tw}{-1.0\rw}
% I don't know where the -22pt come from, but if they are not subtracted,
% latex complains about overful \hboxes
\addtolength{\tw}{-22pt}

\begin{document}

\pagestyle{myheadings}
\markright{%document-title%}
\newcommand{\fn}[3]{\footnotetext{\makebox[\ww][l]{#1} \makebox[\rw][l]{#2} \parbox[t]{\tw}{#3}}}

%document-text
%reading: \\ruby{%word%}{%reading%}
%translation: \\fn{%dictionary-word%}{%dictionary-reading%}{%translation%}
%paragraph-end: \n\n\\bigskip\n\n
%end document-text

\end{document}
