%encoding: EUC-JP
%short-description: pLaTeX - keine Uebersetzungen
%description
% Generiert eine Platex-Quelldatei.
% Fuer Lesungen werden Ruby generiert. Uebersetzungen werden nicht
% ausgegeben.
%end description
% Dies ist ein EUC-JP-kodiertes japanisches LaTeX-Dokument, generiert
% von JGloss aus %document-filename% am %generation-time%.
% Benutzen Sie platex, um die Datei zu verarbeiten.
% Beachten Sie, dass die Datei ruby-annotation.sty, die JGloss
% beiliegt, installiert sein muss.
%
% template-author: Michael Koch <tensberg@gmx.net>
% Die Template-Datei kann ohne Einschraenkungen unmodifiziert
% oder modifiziert weitergegeben werden.
% $Id$

\documentclass[%font-size%pt]{jarticle}
\usepackage[overlap,CJK]{ruby-annotation}
\usepackage{pslatex}
\renewcommand{\thefootnote}{}

\begin{document}

\pagestyle{myheadings}
\markright{%document-title%}

%document-text
%reading: \\ruby{%word%}{%reading%}
%paragraph-end: \n\n\\bigskip\n\n
%end document-text

\end{document}
