<?xml version="1.0" encoding="$encoding"?>
<jnlp
    spec="$jnlpspec"
    codebase="$jnlpCodebase"
    href="$outputFile">
  <information>
    <title>JGloss</title>
    <vendor>The JGloss Developers</vendor>
    <homepage href="http://jgloss.sf.net/"/>
    <description>Add reading and translation annotations to Japanese text.</description>
    <icon kind="splash" href="jgloss-logo.png" width="367" height="202" />
    <icon href="jgloss-logo_32.png" width="32" height="32" />
    <icon href="jgloss-logo_48.png" width="48" height="48" />
    <icon href="jgloss-logo_64.png" width="64" height="64" />
    <offline-allowed />
    <association mime-type="application/x-jgloss" extensions="jgloss" />
    <shortcut online="false">
      <menu submenu="JGloss"/>
    </shortcut>
  </information>
  <security>
     <all-permissions/>
  </security>
  <resources>
    <j2se version="1.7+"/>
     $dependencies
  </resources>
  <application-desc main-class="$mainClass"/>
</jnlp>

